<form method="POST" action="<%= url %>?_method=DELETE">
  <button class="button-icon button-icon--big bg-accent-1 br-2 mr-100" type="submit">
    <svg width="34" height="36" viewBox="0 0 34 36" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M28.83 10.174C24.4215 9.745 19.9864 9.524 15.5646 9.524C12.9433 9.524 10.322 9.654 7.70073 9.914L5 10.174M12.2814 8.861L12.5726 7.158C12.7845 5.923 12.9433 5 15.1807 5H18.6493C20.8867 5 21.0588 5.975 21.2574 7.171L21.5486 8.861M25.9837 14.282L25.1231 27.373C24.9775 29.414 24.8583 31 21.1647 31H12.6653C8.97167 31 8.85252 29.414 8.70689 27.373L7.84636 14.282M14.7041 23.85H19.1127M13.6053 18.65H20.2247" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>      
  </button>
</form>