

<h2 class="heading--section mb-300 page-width">Home</h2>
<%- include('partials/categoriesSlider', { categories: categories }) %>

<section class="grid-section page-width">
<h2 class="heading mb-300">Recently Added</h2>
<%- include('partials/itemGrid', { wishes: wishes, large: true, portrait: true }) %>
</section>