  :root {
    --clr-primary-1: #ECECEC; 
    --clr-primary-2: #ECECEC;
    --clr-secondary-1: #F6F6F6;
    --clr-secondary-2: #E6E6E6;
    --clr-secondary-3: #E1E1E1;
    --clr-accent-1: #FFA6A6;
    --clr-accent-2: #E2F9B3;  
  
    --clr-overlay: #252525;
    --clr-body: #252525;
    --clr-bg-primary-1: #474747; 
    --clr-bg-primary-2: #252525;
    --clr-bg-secondary-1: #F6F6F6;
    --clr-bg-secondary-2: #E6E6E6;
    --clr-bg-secondary-3: #474747;
    --clr-bg-accent-1: #FFA6A6;
    --clr-bg-accent-2: #E2F9B3
  }
  

  .nav-icon--invert img {
    filter: invert(1);
  }
  
  
  
  
  
  
  
  
  
  