:root {
    --clr-primary-1: #252525; 
    --clr-primary-2: #fff;
    --clr-secondary-1: #F6F6F6;
    --clr-secondary-2: #E6E6E6;
    --clr-secondary-3: #E1E1E1;
    --clr-accent-1: #FFA6A6;
    --clr-accent-2: #E2F9B3;  
  
    --clr-body: #fff;
    --clr-bg-primary-1: #252525; 
    --clr-bg-primary-2: #fff;
    --clr-bg-secondary-1: #F6F6F6;
    --clr-bg-secondary-2: #E6E6E6;
    --clr-bg-secondary-3: #E1E1E1;
    --clr-bg-accent-1: #FFA6A6;
    --clr-bg-accent-2: #E2F9B3
  }
  
  
  
  
  
  
  
  
  
  
  