<h2 class="heading--section mb-300 page-width">Home</h2>
<section class="page-width--sm  justify-between">
<form action="/wishes" method="POST" class="items-center flex flex--columns-even-2 item-page">
  <%- include('_form_fields') %>
</form>
</section>